body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.IDE {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 99vw;
    height: 94vh;
}

.editor {
    display: grid;
    grid-template-rows: 4fr 3fr;
}

.nav {
    height: 6vh;
    width: 100%;
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal textarea {
    padding: 1%;
    width: 96%;
    height: 89%;
    font-size: 1.5em;
    resize: none;
    color: white;
    background-color: #272727;
}

.terminal textarea::selection {
    background-color: rgba(117, 117, 117, 0.692);
}

textarea, textarea:focus {
    border-style: none; 
    border-color: Transparent; 
    outline: none;
    overflow: auto;        
}

.code div.container {
    background-color: #323232;   
}

div.container {
    /* width: 800px;
    height: 600px; */
    border: 1px solid grey;
}

.tabs {
    background-color: #454545;
}



.code {
    background-color: #323232;
}

.terminal {
    color: white;
    background-color: #272727;
}

button {
    background-color: #97dba2;
    border: 1px solid #649b6d;
    font-size: 2em;
}

button:hover {
    cursor: pointer;
}

p.err {
    color: red;
}