
body {
    background-color: rgba(14,21,37,255);
    height: 100%;
}
/* 
.circle {
    border-radius: 50%;
    width: 32rem;
    height: 32rem;
    background-color: white;
} */

.profile {
    height: 99.5vh;
    width: 30%;
    border: 5px solid white;
}

.pfp {
    border: 5px solid white;
}

.pfp>img {
    border-radius: 50%;
    width: 32rem;
    height: 32rem;
}

.repos {
    height: 99.5vh;
    width: 50%;
    float: right;
}