<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OIDE</title>
    <link rel="stylesheet" href="/Styles/nav.css">
    <link rel="stylesheet" href="/Styles/index.css">
    <link
		rel="stylesheet"
		data-name="vs/editor/editor.main"
		href="/module/monaco-editor/min/vs/editor/editor.main.css"
	/>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <a href="/">OIDE</a>
        </div>
        <div class="tabs">
            <a href="/repos">Repositories</a>
            <a>Help</a>
        </div>
        <div class="signIn">
            <img src="<%= picture  %>" alt="" id="profileImg">
            <a class="logOut" href="/logout">Log Out</a>
        </div>
    </div>
    <div class="IDE">
        <div class="fileTabs">
            <div class="">
                <div class="fileExplorer">
                    <h2 class="fileHeader">File System</h2>
                </div>
                <% let filesParsed = JSON.parse(files) %>
                <div class="files">
                    <% for(var i=0; i<filesParsed.length; i++) {%>
                        <div class="file">
                            <% if (filesParsed[i].language == "py") { %>
                                <img src="/Images/PyIcon.png" alt="">
                            <% } %>
                            <% if (filesParsed[i].language == "java") { %>
                                <img src="/Images/javaIcon.png" alt="">
                            <% } %>
                            <% if (filesParsed[i].language == "c") { %>
                                <img src="/Images/c.png" alt="">
                            <% } %>
                            <% if (filesParsed[i].language == "cpp") { %>
                                <img src="/Images/cpp.png" alt="">
                            <% } %>
                            <h3><%= filesParsed[i].name %></h3>
                        </div>
                    <% } %>
                    <div>
                        <form action="/addFile" method="post" class="addRepo" onsubmit="return onNewFileSubmit()">
                            <div class="inputPart">
                                <input type="text"  name="repoName" class="repoName" required autocomplete="off">
                                <input type="hidden" value="<%=id%>" name="id">
                                <input type="hidden" value="" name="lang" class="lang">
                                <span>Repository Name</span>
                            </div>
                            <input type="submit" value="Add Repo" class="addRepoBtn">
                        </form>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a href="" class="saveBtn">Save</a>
                <a href="" class="runBtn">Run</a>
            </div>
            
        </div>
        <div class="editor">
            <div class="container activeContainer"></div>
		    <script>
			    var require = { paths: { vs: '/module/monaco-editor/min/vs' } };
		    </script>
            <script src="/module/monaco-editor/min/vs/loader.js"></script>
            <script src="/module/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
            <script src="/module/monaco-editor/min/vs/editor/editor.main.js"></script>

            <script>
                let editor = monaco.editor.create(document.querySelector('.container'), {
                    language: 'python',
                    theme: 'vs-dark',
                    fontSize: "16px"
                });
            </script>
            <div class="terminal">
                <div class="prevHistory"></div>
                <div class="currentItem"></div>
            </div>
        </div>
    </div>
    <script src="/Scripts/fileSystem.js"></script>
    <script src="/Scripts/connect.js"></script>
    <script src="/Scripts/index.js"></script>
    <script src="/Scripts/terminal.js"></script>
</body>
</html>