<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OIDE</title>
    <link rel="stylesheet" href="/Styles/home.css">
    <link rel="stylesheet" href="/Styles/loggedOut.css">
</head>
<body>
    <div class="nav">
        <div class="logo">
            <a>OIDE</a>
        </div>
        <div class="tabs">
            <a>Repositories</a>
            <a>Help</a>
        </div>
        <div class="signIn">
            <a href="/login" class="login">Log In</a>
            <a class="signUp" href="/login">Sign Up</a>
        </div>
    </div>
    <div class="img">
        <div class="imgTextDiv">
            <h1 class="imageHeader imageText">O<span>nline</span>IDE</h1>
            <h1 class="imageDescription imageText">THE ULTIMATE WAY TO CODE <span>THROUGH THE WEB</span></h1>
            <a href="/login" class="btn">🔍︎ SIGN UP FREE</a>
        </div>
    </div>
</body>
</html>