<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="client.js"></script>
	<script src="./Scripts/connect.js"></script>
    <link
		rel="stylesheet"
		data-name="vs/editor/editor.main"
		href="../node_modules/monaco-editor/min/vs/editor/editor.main.css"
	/>
    
</head>
<body>
    <!-- <textarea name="" id="container" cols="30" rows="10"></textarea> -->

    <div id="container" style="width: 800px; height: 600px; border: 1px solid grey"></div>

		<script>
			var require = { paths: { vs: '../node_modules/monaco-editor/min/vs' } };
		</script>
		<script src="../node_modules/monaco-editor/min/vs/loader.js"></script>
		<script src="../node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
		<script src="../node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>

		<script>
			var editor = monaco.editor.create(document.getElementById('container'), {
				//value: ['function x() {', '\tconsole.log("Hello world!");', '}'].join('\n'),
				language: 'python',
				theme: 'vs-dark'
			});
			
		</script>
    <button>Run Code</button>
    <script src="index.js"></script>
</body>
</html>