<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/index.css">
    <link rel="stylesheet" href="../Styles/repos.css">
</head>
<body>
    <div class="profile">
        <span class="pfp">
            <!-- <div class="circle"></div> -->
            <img src="../Images/monkey.jpg">
        </span>
        <span class="info">
            @ParJai25
        </span>
    </div>
    <div class="repos">
        <table style="border: 5px solid white;">
            <a href="index.html">
                <div class="repo-title">
                    <span class="lang-logo"><img src="../Images/bergen_tech.png"></span>
                    <span class="name">Password Generator</span>
                </div>
            </a>
        </table>
    </div>
</body>
</html>