body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    overflow: none;
    background-color: #272727;
}

.IDE {
    display: grid;
    grid-template-columns: 1fr 6fr;
    width: 100vw;
    height: 94vh;
}

.fileExplorer {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #393939;
}

.fileExplorer h2 {
    font-size: 1.5em ;
}

.fileHeader {
    display: inline;
}

.newFile:hover {
    cursor: pointer;
}

.newFile {
    background-color: red;
    padding: 1%;
    display: inline-block;
}

.files img {
    max-height: 1.5em;
}

.editor {
    display: grid;
    grid-template-rows: 4fr 3fr;
}

.nav {
    height: 6vh;
    width: 100%;
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    max-height: 37vh;
    overflow: scroll;
    padding: 1% 3%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    color: white;
    background-color: #272727;
}

.currentItem {
    display: grid;
    grid-template-columns: auto 1fr;
}

.err {
    color: red
}

.startingDiv {
    white-space: nowrap;
}

.currentItem div {
    font-family: 'Roboto Mono', monospace;
    padding-left: 1%;
    font-size: 1.5em;
    resize: none;
    color: white;
    background-color: #272727;
    display: inline-block;
}

.terminalInput {
    min-width: 80%;

}

.terminalInput::selection {
    background-color: rgba(117, 117, 117, 0.692);
}

.gold {
    color: gold
}

.current {
    display: inline-block;
}

.formerInput {
    display: inline-block;
}

.terminalInput, .terminalInput:focus {
    border-style: none; 
    border-color: Transparent; 
    outline: none;
    overflow: auto;        
}

.terminal p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.terminal::-webkit-scrollbar {
    display: none;
}

.container { 
    background-color: #323232;   
    display: none;
}

div.activeContainer {
    display: block;
}


.tabs {
    background-color: #454545;
}



.code {
    background-color: #323232;
}

button {
    background-color: #97dba2;
    border: 1px solid #649b6d;
    font-size: 2em;
}

button:hover {
    cursor: pointer;
}

p.err {
    color: red;
    display: block;
}

p.good {
    color: green;
}

.terminalInput br {
    display: inline;
}

.good, .err {
    display: block;
}

.statement {
    color: orange;
}

.file {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 3% 10%;
}

.files {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
}

.file p {
    display: none;
}

.file h3 {
    font-size: 1.5em;
    padding-left: 20px;
    color: white;
    margin: 0;
}

.fileActive {
    background-color: #545454;   
}

.file:hover {
    background-color: #272727;
    cursor: pointer;
}